stepstone/jobsdata.csv
stepstone/scrapy.cfg
stepstone/stepstone/__init__.py
stepstone/stepstone/items.py
stepstone/stepstone/middlewares.py
stepstone/stepstone/pipelines.py
stepstone/stepstone/settings.py
stepstone/stepstone/__pycache__/__init__.cpython-312.pyc
stepstone/stepstone/__pycache__/middlewares.cpython-312.pyc
stepstone/stepstone/__pycache__/settings.cpython-312.pyc
stepstone/stepstone/spiders/__init__.py
stepstone/stepstone/spiders/jobs.py
stepstone/stepstone/spiders/__pycache__/__init__.cpython-312.pyc
stepstone/stepstone/spiders/__pycache__/jobs.cpython-312.pyc
Tutorials/petco.ipynb
Tutorials
Tutorials/table_data.csv
Tutorials/tutorial/quotes-1.html
Tutorials/tutorial/quotes-2.html
Tutorials/tutorial/scrapy.cfg
Tutorials/tutorial/tutorial/__init__.py
Tutorials/tutorial/tutorial/items.py
Tutorials/tutorial/tutorial/middlewares.py
Tutorials/tutorial/tutorial/pipelines.py
Tutorials/tutorial/tutorial/settings.py
Tutorials/tutorial/tutorial/__pycache__/__init__.cpython-312.pyc
Tutorials/tutorial/tutorial/__pycache__/settings.cpython-312.pyc
Tutorials/tutorial/tutorial/spiders/__init__.py
Tutorials/tutorial/tutorial/spiders/quotes_spider.py
Tutorials/tutorial/tutorial/spiders/__pycache__/__init__.cpython-312.pyc
Tutorials/tutorial/tutorial/spiders/__pycache__/quotes_spider.cpython-312.pyc
toscrape/toscrape/spiders/books.py
toscrape/toscrape/spiders/__pycache__/books.cpython-312.pyc
toscrape/toscrape/__pycache__/settings.cpython-312.pyc
toscrape/bookdata.csv
toscrape/toscrape/__pycache__/settings.cpython-312.pyc
